<%= form_for(@blog_item) do |f| %>
  <% if @blog_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_item.errors.count, "error") %> prohibited this blog_item from being saved:</h2>

      <ul>
      <% @blog_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, type: 'text', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, type: 'text', rows: '10', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tags %><br>
    <%= f.text_field :tags, type: 'text', class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit :class => 'btn btn-default btn-form-submit' %>
  </div>
  <br>
<% end %>
