<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog_item.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog_item.content %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @blog_item.tags %>
</p>

<p>
  <strong>Time:</strong>
  <%= @blog_item.time %>
</p>

<%= link_to 'Edit', edit_blog_item_path(@blog_item) %> |
<%= link_to 'Back', blog_items_path %>
