<p id="notice"><%= notice %></p>

<h2>
  <%= @blog_item.name %>
</h2>
<hr>
<p>
  <%= @blog_item.content %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @blog_item.tags %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @blog_item.time %>
</p>
<hr>

<h3>Comments</h3>
<% @blog_comments.each do |comment| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    	From: <%= comment.name %>
    </h3>
  </div>
  <div class="panel-body">
    <%= comment.content %>
  </div>
</div>  
<% end %>
<br/>
<h4>New comment:</h4> <br/>
<%= render 'blog_comments/form' %>
<br/ >


<%= link_to 'Edit', edit_blog_item_path(@blog_item) %> |
<%= link_to 'Back', blog_items_path %>
